@font-face {
	font-family: "flaticon40";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon40-"]:before, [class*=" flaticon40-"]:before,
[class^="flaticon40-"]:after, [class*=" flaticon40-"]:after {   
	font-family: flaticon40;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon40-ambulance9:before {
	content: "\e000";
}
.flaticon40-balls:before {
	content: "\e001";
}
.flaticon40-bandaid:before {
	content: "\e002";
}
.flaticon40-chromosome:before {
	content: "\e003";
}
.flaticon40-drops1:before {
	content: "\e004";
}
.flaticon40-male100:before {
	content: "\e005";
}
.flaticon40-medical14:before {
	content: "\e006";
}
.flaticon40-medicine13:before {
	content: "\e007";
}
.flaticon40-medicine14:before {
	content: "\e008";
}
.flaticon40-medicine15:before {
	content: "\e009";
}
.flaticon40-medicine16:before {
	content: "\e00a";
}
.flaticon40-medicine17:before {
	content: "\e00b";
}
.flaticon40-pill:before {
	content: "\e00c";
}
.flaticon40-syringe6:before {
	content: "\e00d";
}
.flaticon40-teeth1:before {
	content: "\e00e";
}
.flaticon40-thermometer23:before {
	content: "\e00f";
}
