    /*
    Flaticon icon font: Flaticon
    Creation date: 18/03/2016 12:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-almond:before { content: "\f100"; }
.flaticon-alstroemeria:before { content: "\f101"; }
.flaticon-anemone:before { content: "\f102"; }
.flaticon-anthurium:before { content: "\f103"; }
.flaticon-aster:before { content: "\f104"; }
.flaticon-astrantia:before { content: "\f105"; }
.flaticon-bluebell:before { content: "\f106"; }
.flaticon-bougainvillea:before { content: "\f107"; }
.flaticon-broom:before { content: "\f108"; }
.flaticon-calla:before { content: "\f109"; }
.flaticon-carnation:before { content: "\f10a"; }
.flaticon-chrysanthemum:before { content: "\f10b"; }
.flaticon-clematis:before { content: "\f10c"; }
.flaticon-daffodil:before { content: "\f10d"; }
.flaticon-dahlia:before { content: "\f10e"; }
.flaticon-daisy:before { content: "\f10f"; }
.flaticon-dianthus:before { content: "\f110"; }
.flaticon-flower:before { content: "\f111"; }
.flaticon-freesia:before { content: "\f112"; }
.flaticon-gardenia:before { content: "\f113"; }
.flaticon-gerbera:before { content: "\f114"; }
.flaticon-ginger:before { content: "\f115"; }
.flaticon-gladiolus:before { content: "\f116"; }
.flaticon-hyacinth:before { content: "\f117"; }
.flaticon-hydrangea:before { content: "\f118"; }
.flaticon-hypericum:before { content: "\f119"; }
.flaticon-iris:before { content: "\f11a"; }
.flaticon-jasmine:before { content: "\f11b"; }
.flaticon-jonquil:before { content: "\f11c"; }
.flaticon-knapweed:before { content: "\f11d"; }
.flaticon-lily:before { content: "\f11e"; }
.flaticon-lotus:before { content: "\f11f"; }
.flaticon-magnolia:before { content: "\f120"; }
.flaticon-mimosa:before { content: "\f121"; }
.flaticon-narcissus:before { content: "\f122"; }
.flaticon-nymphea:before { content: "\f123"; }
.flaticon-oleander:before { content: "\f124"; }
.flaticon-orchid:before { content: "\f125"; }
.flaticon-pansy:before { content: "\f126"; }
.flaticon-pear:before { content: "\f127"; }
.flaticon-peony:before { content: "\f128"; }
.flaticon-petunia:before { content: "\f129"; }
.flaticon-poinsettia:before { content: "\f12a"; }
.flaticon-poppy:before { content: "\f12b"; }
.flaticon-protea:before { content: "\f12c"; }
.flaticon-rose:before { content: "\f12d"; }
.flaticon-sunflower:before { content: "\f12e"; }
.flaticon-wallflower:before { content: "\f12f"; }
.flaticon-wedelia:before { content: "\f130"; }
.flaticon-zinnia:before { content: "\f131"; }
    
    $font-Flaticon-almond: "\f100";
    $font-Flaticon-alstroemeria: "\f101";
    $font-Flaticon-anemone: "\f102";
    $font-Flaticon-anthurium: "\f103";
    $font-Flaticon-aster: "\f104";
    $font-Flaticon-astrantia: "\f105";
    $font-Flaticon-bluebell: "\f106";
    $font-Flaticon-bougainvillea: "\f107";
    $font-Flaticon-broom: "\f108";
    $font-Flaticon-calla: "\f109";
    $font-Flaticon-carnation: "\f10a";
    $font-Flaticon-chrysanthemum: "\f10b";
    $font-Flaticon-clematis: "\f10c";
    $font-Flaticon-daffodil: "\f10d";
    $font-Flaticon-dahlia: "\f10e";
    $font-Flaticon-daisy: "\f10f";
    $font-Flaticon-dianthus: "\f110";
    $font-Flaticon-flower: "\f111";
    $font-Flaticon-freesia: "\f112";
    $font-Flaticon-gardenia: "\f113";
    $font-Flaticon-gerbera: "\f114";
    $font-Flaticon-ginger: "\f115";
    $font-Flaticon-gladiolus: "\f116";
    $font-Flaticon-hyacinth: "\f117";
    $font-Flaticon-hydrangea: "\f118";
    $font-Flaticon-hypericum: "\f119";
    $font-Flaticon-iris: "\f11a";
    $font-Flaticon-jasmine: "\f11b";
    $font-Flaticon-jonquil: "\f11c";
    $font-Flaticon-knapweed: "\f11d";
    $font-Flaticon-lily: "\f11e";
    $font-Flaticon-lotus: "\f11f";
    $font-Flaticon-magnolia: "\f120";
    $font-Flaticon-mimosa: "\f121";
    $font-Flaticon-narcissus: "\f122";
    $font-Flaticon-nymphea: "\f123";
    $font-Flaticon-oleander: "\f124";
    $font-Flaticon-orchid: "\f125";
    $font-Flaticon-pansy: "\f126";
    $font-Flaticon-pear: "\f127";
    $font-Flaticon-peony: "\f128";
    $font-Flaticon-petunia: "\f129";
    $font-Flaticon-poinsettia: "\f12a";
    $font-Flaticon-poppy: "\f12b";
    $font-Flaticon-protea: "\f12c";
    $font-Flaticon-rose: "\f12d";
    $font-Flaticon-sunflower: "\f12e";
    $font-Flaticon-wallflower: "\f12f";
    $font-Flaticon-wedelia: "\f130";
    $font-Flaticon-zinnia: "\f131";