<Files ~ "\.bak">
  Order allow,deny
  Deny from all
</Files>
<Files ~ "\.ht">
  Order allow,deny
  Deny from all
</Files>
<Files ~ "\.txt">
  Order allow,deny
  Deny from all
</Files>
<Files ~ "\.swp">
  Order allow,deny
  Deny from all
</Files>