@font-face {
	font-family: "flaticon47";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon47-"]:before, [class*=" flaticon47-"]:before,
[class^="flaticon47-"]:after, [class*=" flaticon47-"]:after {   
	font-family: flaticon47;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon47-aim5:before {
	content: "\e000";
}
.flaticon47-bag41:before {
	content: "\e001";
}
.flaticon47-book227:before {
	content: "\e002";
}
.flaticon47-book228:before {
	content: "\e003";
}
.flaticon47-book229:before {
	content: "\e004";
}
.flaticon47-briefcase64:before {
	content: "\e005";
}
.flaticon47-businessman266:before {
	content: "\e006";
}
.flaticon47-businessman267:before {
	content: "\e007";
}
.flaticon47-businessman268:before {
	content: "\e008";
}
.flaticon47-businessman269:before {
	content: "\e009";
}
.flaticon47-businessman270:before {
	content: "\e00a";
}
.flaticon47-call53:before {
	content: "\e00b";
}
.flaticon47-checkered12:before {
	content: "\e00c";
}
.flaticon47-checking1:before {
	content: "\e00d";
}
.flaticon47-clock118:before {
	content: "\e00e";
}
.flaticon47-clock119:before {
	content: "\e00f";
}
.flaticon47-complete3:before {
	content: "\e010";
}
.flaticon47-contacts13:before {
	content: "\e011";
}
.flaticon47-cross mark:before {
	content: "\e012";
}
.flaticon47-cup47:before {
	content: "\e013";
}
.flaticon47-date9:before {
	content: "\e014";
}
.flaticon47-document186:before {
	content: "\e015";
}
.flaticon47-document187:before {
	content: "\e016";
}
.flaticon47-documents22:before {
	content: "\e017";
}
.flaticon47-finish3:before {
	content: "\e018";
}
.flaticon47-football161:before {
	content: "\e019";
}
.flaticon47-game61:before {
	content: "\e01a";
}
.flaticon47-justice4:before {
	content: "\e01b";
}
.flaticon47-leaf64:before {
	content: "\e01c";
}
.flaticon47-letter96:before {
	content: "\e01d";
}
.flaticon47-mind:before {
	content: "\e01e";
}
.flaticon47-notebook74:before {
	content: "\e01f";
}
.flaticon47-office38:before {
	content: "\e020";
}
.flaticon47-office41:before {
	content: "\e021";
}
.flaticon47-productivity:before {
	content: "\e022";
}
.flaticon47-reload9:before {
	content: "\e023";
}
.flaticon47-sale22:before {
	content: "\e024";
}
.flaticon47-speed12:before {
	content: "\e025";
}
.flaticon47-suitcase45:before {
	content: "\e026";
}
.flaticon47-target50:before {
	content: "\e027";
}
.flaticon47-target51:before {
	content: "\e028";
}
.flaticon47-tea24:before {
	content: "\e029";
}
.flaticon47-think3:before {
	content: "\e02a";
}
.flaticon47-time25:before {
	content: "\e02b";
}
.flaticon47-time30:before {
	content: "\e02c";
}
.flaticon47-time31:before {
	content: "\e02d";
}
.flaticon47-time32:before {
	content: "\e02e";
}
.flaticon47-wine66:before {
	content: "\e02f";
}
.flaticon47-winner13:before {
	content: "\e030";
}
.flaticon47-woman139:before {
	content: "\e031";
}
