	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/04/2016 12:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-badge:before { content: "\f100"; }
.flaticon-bill:before { content: "\f101"; }
.flaticon-businessman:before { content: "\f102"; }
.flaticon-businessman-1:before { content: "\f103"; }
.flaticon-businessman-2:before { content: "\f104"; }
.flaticon-businessman-3:before { content: "\f105"; }
.flaticon-businessman-4:before { content: "\f106"; }
.flaticon-businessman-5:before { content: "\f107"; }
.flaticon-businessman-6:before { content: "\f108"; }
.flaticon-coin:before { content: "\f109"; }
.flaticon-coin-1:before { content: "\f10a"; }
.flaticon-coins:before { content: "\f10b"; }
.flaticon-credit-card:before { content: "\f10c"; }
.flaticon-credit-card-1:before { content: "\f10d"; }
.flaticon-dollar-coins:before { content: "\f10e"; }
.flaticon-dollar-symbol:before { content: "\f10f"; }
.flaticon-dollar-symbol-1:before { content: "\f110"; }
.flaticon-dollar-symbol-2:before { content: "\f111"; }
.flaticon-dollar-symbol-3:before { content: "\f112"; }
.flaticon-dollar-symbol-4:before { content: "\f113"; }
.flaticon-euro:before { content: "\f114"; }
.flaticon-euro-1:before { content: "\f115"; }
.flaticon-exchange:before { content: "\f116"; }
.flaticon-exchange-1:before { content: "\f117"; }
.flaticon-group:before { content: "\f118"; }
.flaticon-group-1:before { content: "\f119"; }
.flaticon-group-2:before { content: "\f11a"; }
.flaticon-growth:before { content: "\f11b"; }
.flaticon-growth-1:before { content: "\f11c"; }
.flaticon-growth-2:before { content: "\f11d"; }
.flaticon-mobile-phone:before { content: "\f11e"; }
.flaticon-money:before { content: "\f11f"; }
.flaticon-monitor:before { content: "\f120"; }
.flaticon-networking:before { content: "\f121"; }
.flaticon-payment-method:before { content: "\f122"; }
.flaticon-piggy-bank:before { content: "\f123"; }
.flaticon-piggy-bank-1:before { content: "\f124"; }
.flaticon-piggy-bank-2:before { content: "\f125"; }
.flaticon-shield:before { content: "\f126"; }
.flaticon-smartphone:before { content: "\f127"; }
.flaticon-smartphone-1:before { content: "\f128"; }
.flaticon-smartphone-2:before { content: "\f129"; }
.flaticon-smartphone-3:before { content: "\f12a"; }
.flaticon-smartphone-4:before { content: "\f12b"; }
.flaticon-smartphone-5:before { content: "\f12c"; }
.flaticon-smartphone-6:before { content: "\f12d"; }
.flaticon-speech-bubble:before { content: "\f12e"; }
.flaticon-speech-bubble-1:before { content: "\f12f"; }
.flaticon-speech-bubble-2:before { content: "\f130"; }
.flaticon-statistics:before { content: "\f131"; }