	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-armchair:before { content: "\f100"; }
.flaticon-armchair-1:before { content: "\f101"; }
.flaticon-bathtub:before { content: "\f102"; }
.flaticon-bed:before { content: "\f103"; }
.flaticon-bed-1:before { content: "\f104"; }
.flaticon-bed-2:before { content: "\f105"; }
.flaticon-bed-3:before { content: "\f106"; }
.flaticon-bedside-table:before { content: "\f107"; }
.flaticon-bookcase:before { content: "\f108"; }
.flaticon-bookshelve:before { content: "\f109"; }
.flaticon-bunk-bed:before { content: "\f10a"; }
.flaticon-cabinet:before { content: "\f10b"; }
.flaticon-carpet:before { content: "\f10c"; }
.flaticon-chair:before { content: "\f10d"; }
.flaticon-chair-1:before { content: "\f10e"; }
.flaticon-chair-2:before { content: "\f10f"; }
.flaticon-chair-3:before { content: "\f110"; }
.flaticon-chair-4:before { content: "\f111"; }
.flaticon-chandelier:before { content: "\f112"; }
.flaticon-clock:before { content: "\f113"; }
.flaticon-closet:before { content: "\f114"; }
.flaticon-coat-stand:before { content: "\f115"; }
.flaticon-crib:before { content: "\f116"; }
.flaticon-curtain:before { content: "\f117"; }
.flaticon-desk:before { content: "\f118"; }
.flaticon-dresser:before { content: "\f119"; }
.flaticon-dresser-1:before { content: "\f11a"; }
.flaticon-dresser-2:before { content: "\f11b"; }
.flaticon-dresser-3:before { content: "\f11c"; }
.flaticon-fireplace:before { content: "\f11d"; }
.flaticon-frame:before { content: "\f11e"; }
.flaticon-furniture:before { content: "\f11f"; }
.flaticon-kitchen-furniture:before { content: "\f120"; }
.flaticon-kitchen-sink:before { content: "\f121"; }
.flaticon-lamp:before { content: "\f122"; }
.flaticon-lamp-1:before { content: "\f123"; }
.flaticon-lamp-2:before { content: "\f124"; }
.flaticon-lamp-3:before { content: "\f125"; }
.flaticon-mirror:before { content: "\f126"; }
.flaticon-rocking-chair:before { content: "\f127"; }
.flaticon-shelves:before { content: "\f128"; }
.flaticon-sink:before { content: "\f129"; }
.flaticon-sofa:before { content: "\f12a"; }
.flaticon-sofa-1:before { content: "\f12b"; }
.flaticon-sofa-2:before { content: "\f12c"; }
.flaticon-stool:before { content: "\f12d"; }
.flaticon-stool-1:before { content: "\f12e"; }
.flaticon-table-with-chair:before { content: "\f12f"; }
.flaticon-tv-table:before { content: "\f130"; }
.flaticon-wardrobe:before { content: "\f131"; }