    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ambulance:before { content: "\f100"; }
.flaticon-automobile:before { content: "\f101"; }
.flaticon-baby-carriage:before { content: "\f102"; }
.flaticon-bicycle:before { content: "\f103"; }
.flaticon-box-trolley:before { content: "\f104"; }
.flaticon-bus-front-view:before { content: "\f105"; }
.flaticon-cable-car-cabin:before { content: "\f106"; }
.flaticon-car-frontal-view:before { content: "\f107"; }
.flaticon-cruiser-front-view:before { content: "\f108"; }
.flaticon-delivery-truck:before { content: "\f109"; }
.flaticon-delivery-van:before { content: "\f10a"; }
.flaticon-ferry:before { content: "\f10b"; }
.flaticon-helicopter:before { content: "\f10c"; }
.flaticon-hot-air-balloon:before { content: "\f10d"; }
.flaticon-logistics-truck:before { content: "\f10e"; }
.flaticon-paper-sailboat:before { content: "\f10f"; }
.flaticon-pickup-truck:before { content: "\f110"; }
.flaticon-plane:before { content: "\f111"; }
.flaticon-railroad-with-wood-planks:before { content: "\f112"; }
.flaticon-road-sign:before { content: "\f113"; }
.flaticon-school-bus:before { content: "\f114"; }
.flaticon-scooter-bike:before { content: "\f115"; }
.flaticon-speedboat:before { content: "\f116"; }
.flaticon-speedboat-1:before { content: "\f117"; }
.flaticon-sports-car:before { content: "\f118"; }
.flaticon-tanker:before { content: "\f119"; }
.flaticon-taxi:before { content: "\f11a"; }
.flaticon-taxi-front-view:before { content: "\f11b"; }
.flaticon-three-door-car:before { content: "\f11c"; }
.flaticon-touring-car:before { content: "\f11d"; }
.flaticon-train-front-view:before { content: "\f11e"; }
.flaticon-train-wagon:before { content: "\f11f"; }
.flaticon-transportation-truck:before { content: "\f120"; }
.flaticon-transportation-truck-1:before { content: "\f121"; }
.flaticon-transportation-truck-2:before { content: "\f122"; }
.flaticon-truck-with-hook-lift:before { content: "\f123"; }
.flaticon-unicycle:before { content: "\f124"; }
.flaticon-war-tank:before { content: "\f125"; }
.flaticon-wide-rear-wheel-car:before { content: "\f126"; }
.flaticon-youth-bicycle:before { content: "\f127"; }
    
    $font-Flaticon-ambulance: "\f100";
    $font-Flaticon-automobile: "\f101";
    $font-Flaticon-baby-carriage: "\f102";
    $font-Flaticon-bicycle: "\f103";
    $font-Flaticon-box-trolley: "\f104";
    $font-Flaticon-bus-front-view: "\f105";
    $font-Flaticon-cable-car-cabin: "\f106";
    $font-Flaticon-car-frontal-view: "\f107";
    $font-Flaticon-cruiser-front-view: "\f108";
    $font-Flaticon-delivery-truck: "\f109";
    $font-Flaticon-delivery-van: "\f10a";
    $font-Flaticon-ferry: "\f10b";
    $font-Flaticon-helicopter: "\f10c";
    $font-Flaticon-hot-air-balloon: "\f10d";
    $font-Flaticon-logistics-truck: "\f10e";
    $font-Flaticon-paper-sailboat: "\f10f";
    $font-Flaticon-pickup-truck: "\f110";
    $font-Flaticon-plane: "\f111";
    $font-Flaticon-railroad-with-wood-planks: "\f112";
    $font-Flaticon-road-sign: "\f113";
    $font-Flaticon-school-bus: "\f114";
    $font-Flaticon-scooter-bike: "\f115";
    $font-Flaticon-speedboat: "\f116";
    $font-Flaticon-speedboat-1: "\f117";
    $font-Flaticon-sports-car: "\f118";
    $font-Flaticon-tanker: "\f119";
    $font-Flaticon-taxi: "\f11a";
    $font-Flaticon-taxi-front-view: "\f11b";
    $font-Flaticon-three-door-car: "\f11c";
    $font-Flaticon-touring-car: "\f11d";
    $font-Flaticon-train-front-view: "\f11e";
    $font-Flaticon-train-wagon: "\f11f";
    $font-Flaticon-transportation-truck: "\f120";
    $font-Flaticon-transportation-truck-1: "\f121";
    $font-Flaticon-transportation-truck-2: "\f122";
    $font-Flaticon-truck-with-hook-lift: "\f123";
    $font-Flaticon-unicycle: "\f124";
    $font-Flaticon-war-tank: "\f125";
    $font-Flaticon-wide-rear-wheel-car: "\f126";
    $font-Flaticon-youth-bicycle: "\f127";