    /*
    Flaticon icon font: Flaticon
    Creation date: 18/04/2016 11:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-3dm:before { content: "\f100"; }
.flaticon-3ds:before { content: "\f101"; }
.flaticon-3g2:before { content: "\f102"; }
.flaticon-3gp:before { content: "\f103"; }
.flaticon-7z:before { content: "\f104"; }
.flaticon-aac:before { content: "\f105"; }
.flaticon-ai:before { content: "\f106"; }
.flaticon-aif:before { content: "\f107"; }
.flaticon-apk:before { content: "\f108"; }
.flaticon-app:before { content: "\f109"; }
.flaticon-asf:before { content: "\f10a"; }
.flaticon-asp:before { content: "\f10b"; }
.flaticon-aspx:before { content: "\f10c"; }
.flaticon-asx:before { content: "\f10d"; }
.flaticon-avi:before { content: "\f10e"; }
.flaticon-bak:before { content: "\f10f"; }
.flaticon-bat:before { content: "\f110"; }
.flaticon-bin:before { content: "\f111"; }
.flaticon-bmp:before { content: "\f112"; }
.flaticon-cab:before { content: "\f113"; }
.flaticon-cad:before { content: "\f114"; }
.flaticon-cdr:before { content: "\f115"; }
.flaticon-cer:before { content: "\f116"; }
.flaticon-cfg:before { content: "\f117"; }
.flaticon-cfm:before { content: "\f118"; }
.flaticon-cgi:before { content: "\f119"; }
.flaticon-class:before { content: "\f11a"; }
.flaticon-cpl:before { content: "\f11b"; }
.flaticon-cpp:before { content: "\f11c"; }
.flaticon-crx:before { content: "\f11d"; }
.flaticon-csr:before { content: "\f11e"; }
.flaticon-css:before { content: "\f11f"; }
.flaticon-csv:before { content: "\f120"; }
.flaticon-cue:before { content: "\f121"; }
.flaticon-cur:before { content: "\f122"; }
.flaticon-dat:before { content: "\f123"; }
.flaticon-db:before { content: "\f124"; }
.flaticon-dbf:before { content: "\f125"; }
.flaticon-dds:before { content: "\f126"; }
.flaticon-dem:before { content: "\f127"; }
.flaticon-dll:before { content: "\f128"; }
.flaticon-dmg:before { content: "\f129"; }
.flaticon-dmp:before { content: "\f12a"; }
.flaticon-doc:before { content: "\f12b"; }
.flaticon-docx:before { content: "\f12c"; }
.flaticon-drv:before { content: "\f12d"; }
.flaticon-dtd:before { content: "\f12e"; }
.flaticon-dwg:before { content: "\f12f"; }
.flaticon-dxf:before { content: "\f130"; }
.flaticon-elf:before { content: "\f131"; }
.flaticon-eps:before { content: "\f132"; }
.flaticon-exe:before { content: "\f133"; }
.flaticon-fla:before { content: "\f134"; }
.flaticon-flash:before { content: "\f135"; }
.flaticon-flv:before { content: "\f136"; }
.flaticon-fnt:before { content: "\f137"; }
.flaticon-fon:before { content: "\f138"; }
.flaticon-gam:before { content: "\f139"; }
.flaticon-gbr:before { content: "\f13a"; }
.flaticon-ged:before { content: "\f13b"; }
.flaticon-gif:before { content: "\f13c"; }
.flaticon-gpx:before { content: "\f13d"; }
.flaticon-gz:before { content: "\f13e"; }
.flaticon-gzip:before { content: "\f13f"; }
.flaticon-hqz:before { content: "\f140"; }
.flaticon-html:before { content: "\f141"; }
.flaticon-ibooks:before { content: "\f142"; }
.flaticon-icns:before { content: "\f143"; }
.flaticon-ico:before { content: "\f144"; }
.flaticon-ics:before { content: "\f145"; }
.flaticon-iff:before { content: "\f146"; }
.flaticon-indd:before { content: "\f147"; }
.flaticon-iso:before { content: "\f148"; }
.flaticon-jar:before { content: "\f149"; }
.flaticon-jpg:before { content: "\f14a"; }
.flaticon-jsp:before { content: "\f14b"; }
.flaticon-key:before { content: "\f14c"; }
.flaticon-kml:before { content: "\f14d"; }
.flaticon-kmz:before { content: "\f14e"; }
.flaticon-lnk:before { content: "\f14f"; }
.flaticon-log:before { content: "\f150"; }
.flaticon-lua:before { content: "\f151"; }
.flaticon-m3u:before { content: "\f152"; }
.flaticon-m4a:before { content: "\f153"; }
.flaticon-m4v:before { content: "\f154"; }
.flaticon-mach-o:before { content: "\f155"; }
.flaticon-max:before { content: "\f156"; }
.flaticon-mdb:before { content: "\f157"; }
.flaticon-mdf:before { content: "\f158"; }
.flaticon-mid:before { content: "\f159"; }
.flaticon-mim:before { content: "\f15a"; }
.flaticon-mov:before { content: "\f15b"; }
.flaticon-mp3:before { content: "\f15c"; }
.flaticon-mp4:before { content: "\f15d"; }
.flaticon-mpa:before { content: "\f15e"; }
.flaticon-mpg:before { content: "\f15f"; }
.flaticon-msg:before { content: "\f160"; }
.flaticon-msi:before { content: "\f161"; }
.flaticon-nes:before { content: "\f162"; }
.flaticon-obj:before { content: "\f163"; }
.flaticon-odb:before { content: "\f164"; }
.flaticon-odc:before { content: "\f165"; }
.flaticon-odf:before { content: "\f166"; }
.flaticon-odg:before { content: "\f167"; }
.flaticon-odi:before { content: "\f168"; }
.flaticon-odp:before { content: "\f169"; }
.flaticon-ods:before { content: "\f16a"; }
.flaticon-odt:before { content: "\f16b"; }
.flaticon-odt-1:before { content: "\f16c"; }
.flaticon-odx:before { content: "\f16d"; }
.flaticon-ogg:before { content: "\f16e"; }
.flaticon-otf:before { content: "\f16f"; }
.flaticon-otf-1:before { content: "\f170"; }
.flaticon-pages:before { content: "\f171"; }
.flaticon-pct:before { content: "\f172"; }
.flaticon-pdb:before { content: "\f173"; }
.flaticon-pdf:before { content: "\f174"; }
.flaticon-pif:before { content: "\f175"; }
.flaticon-pkg:before { content: "\f176"; }
.flaticon-pl:before { content: "\f177"; }
.flaticon-png:before { content: "\f178"; }
.flaticon-pps:before { content: "\f179"; }
.flaticon-ppt:before { content: "\f17a"; }
.flaticon-pptx:before { content: "\f17b"; }
.flaticon-ps:before { content: "\f17c"; }
.flaticon-psd:before { content: "\f17d"; }
.flaticon-pub:before { content: "\f17e"; }
.flaticon-py:before { content: "\f17f"; }
.flaticon-ra:before { content: "\f180"; }
.flaticon-rar:before { content: "\f181"; }
.flaticon-raw:before { content: "\f182"; }
.flaticon-rm:before { content: "\f183"; }
.flaticon-rom:before { content: "\f184"; }
.flaticon-rpm:before { content: "\f185"; }
.flaticon-rss:before { content: "\f186"; }
.flaticon-rtf:before { content: "\f187"; }
.flaticon-sav:before { content: "\f188"; }
.flaticon-sdf:before { content: "\f189"; }
.flaticon-sitx:before { content: "\f18a"; }
.flaticon-sj:before { content: "\f18b"; }
.flaticon-sql:before { content: "\f18c"; }
.flaticon-srt:before { content: "\f18d"; }
.flaticon-svg:before { content: "\f18e"; }
.flaticon-swf:before { content: "\f18f"; }
.flaticon-sys:before { content: "\f190"; }
.flaticon-tar:before { content: "\f191"; }
.flaticon-tex:before { content: "\f192"; }
.flaticon-tga:before { content: "\f193"; }
.flaticon-thm:before { content: "\f194"; }
.flaticon-tiff:before { content: "\f195"; }
.flaticon-tmp:before { content: "\f196"; }
.flaticon-torrent:before { content: "\f197"; }
.flaticon-ttf:before { content: "\f198"; }
.flaticon-txt:before { content: "\f199"; }
.flaticon-uue:before { content: "\f19a"; }
.flaticon-vb:before { content: "\f19b"; }
.flaticon-vcd:before { content: "\f19c"; }
.flaticon-vcf:before { content: "\f19d"; }
.flaticon-vob:before { content: "\f19e"; }
.flaticon-wav:before { content: "\f19f"; }
.flaticon-wmv:before { content: "\f1a0"; }
.flaticon-wpd:before { content: "\f1a1"; }
.flaticon-wps:before { content: "\f1a2"; }
.flaticon-wsf:before { content: "\f1a3"; }
.flaticon-xhtml:before { content: "\f1a4"; }
.flaticon-xlr:before { content: "\f1a5"; }
.flaticon-xls:before { content: "\f1a6"; }
.flaticon-xlsx:before { content: "\f1a7"; }
.flaticon-xml:before { content: "\f1a8"; }
.flaticon-yuv:before { content: "\f1a9"; }
.flaticon-zip:before { content: "\f1aa"; }
    
    $font-Flaticon-3dm: "\f100";
    $font-Flaticon-3ds: "\f101";
    $font-Flaticon-3g2: "\f102";
    $font-Flaticon-3gp: "\f103";
    $font-Flaticon-7z: "\f104";
    $font-Flaticon-aac: "\f105";
    $font-Flaticon-ai: "\f106";
    $font-Flaticon-aif: "\f107";
    $font-Flaticon-apk: "\f108";
    $font-Flaticon-app: "\f109";
    $font-Flaticon-asf: "\f10a";
    $font-Flaticon-asp: "\f10b";
    $font-Flaticon-aspx: "\f10c";
    $font-Flaticon-asx: "\f10d";
    $font-Flaticon-avi: "\f10e";
    $font-Flaticon-bak: "\f10f";
    $font-Flaticon-bat: "\f110";
    $font-Flaticon-bin: "\f111";
    $font-Flaticon-bmp: "\f112";
    $font-Flaticon-cab: "\f113";
    $font-Flaticon-cad: "\f114";
    $font-Flaticon-cdr: "\f115";
    $font-Flaticon-cer: "\f116";
    $font-Flaticon-cfg: "\f117";
    $font-Flaticon-cfm: "\f118";
    $font-Flaticon-cgi: "\f119";
    $font-Flaticon-class: "\f11a";
    $font-Flaticon-cpl: "\f11b";
    $font-Flaticon-cpp: "\f11c";
    $font-Flaticon-crx: "\f11d";
    $font-Flaticon-csr: "\f11e";
    $font-Flaticon-css: "\f11f";
    $font-Flaticon-csv: "\f120";
    $font-Flaticon-cue: "\f121";
    $font-Flaticon-cur: "\f122";
    $font-Flaticon-dat: "\f123";
    $font-Flaticon-db: "\f124";
    $font-Flaticon-dbf: "\f125";
    $font-Flaticon-dds: "\f126";
    $font-Flaticon-dem: "\f127";
    $font-Flaticon-dll: "\f128";
    $font-Flaticon-dmg: "\f129";
    $font-Flaticon-dmp: "\f12a";
    $font-Flaticon-doc: "\f12b";
    $font-Flaticon-docx: "\f12c";
    $font-Flaticon-drv: "\f12d";
    $font-Flaticon-dtd: "\f12e";
    $font-Flaticon-dwg: "\f12f";
    $font-Flaticon-dxf: "\f130";
    $font-Flaticon-elf: "\f131";
    $font-Flaticon-eps: "\f132";
    $font-Flaticon-exe: "\f133";
    $font-Flaticon-fla: "\f134";
    $font-Flaticon-flash: "\f135";
    $font-Flaticon-flv: "\f136";
    $font-Flaticon-fnt: "\f137";
    $font-Flaticon-fon: "\f138";
    $font-Flaticon-gam: "\f139";
    $font-Flaticon-gbr: "\f13a";
    $font-Flaticon-ged: "\f13b";
    $font-Flaticon-gif: "\f13c";
    $font-Flaticon-gpx: "\f13d";
    $font-Flaticon-gz: "\f13e";
    $font-Flaticon-gzip: "\f13f";
    $font-Flaticon-hqz: "\f140";
    $font-Flaticon-html: "\f141";
    $font-Flaticon-ibooks: "\f142";
    $font-Flaticon-icns: "\f143";
    $font-Flaticon-ico: "\f144";
    $font-Flaticon-ics: "\f145";
    $font-Flaticon-iff: "\f146";
    $font-Flaticon-indd: "\f147";
    $font-Flaticon-iso: "\f148";
    $font-Flaticon-jar: "\f149";
    $font-Flaticon-jpg: "\f14a";
    $font-Flaticon-jsp: "\f14b";
    $font-Flaticon-key: "\f14c";
    $font-Flaticon-kml: "\f14d";
    $font-Flaticon-kmz: "\f14e";
    $font-Flaticon-lnk: "\f14f";
    $font-Flaticon-log: "\f150";
    $font-Flaticon-lua: "\f151";
    $font-Flaticon-m3u: "\f152";
    $font-Flaticon-m4a: "\f153";
    $font-Flaticon-m4v: "\f154";
    $font-Flaticon-mach-o: "\f155";
    $font-Flaticon-max: "\f156";
    $font-Flaticon-mdb: "\f157";
    $font-Flaticon-mdf: "\f158";
    $font-Flaticon-mid: "\f159";
    $font-Flaticon-mim: "\f15a";
    $font-Flaticon-mov: "\f15b";
    $font-Flaticon-mp3: "\f15c";
    $font-Flaticon-mp4: "\f15d";
    $font-Flaticon-mpa: "\f15e";
    $font-Flaticon-mpg: "\f15f";
    $font-Flaticon-msg: "\f160";
    $font-Flaticon-msi: "\f161";
    $font-Flaticon-nes: "\f162";
    $font-Flaticon-obj: "\f163";
    $font-Flaticon-odb: "\f164";
    $font-Flaticon-odc: "\f165";
    $font-Flaticon-odf: "\f166";
    $font-Flaticon-odg: "\f167";
    $font-Flaticon-odi: "\f168";
    $font-Flaticon-odp: "\f169";
    $font-Flaticon-ods: "\f16a";
    $font-Flaticon-odt: "\f16b";
    $font-Flaticon-odt-1: "\f16c";
    $font-Flaticon-odx: "\f16d";
    $font-Flaticon-ogg: "\f16e";
    $font-Flaticon-otf: "\f16f";
    $font-Flaticon-otf-1: "\f170";
    $font-Flaticon-pages: "\f171";
    $font-Flaticon-pct: "\f172";
    $font-Flaticon-pdb: "\f173";
    $font-Flaticon-pdf: "\f174";
    $font-Flaticon-pif: "\f175";
    $font-Flaticon-pkg: "\f176";
    $font-Flaticon-pl: "\f177";
    $font-Flaticon-png: "\f178";
    $font-Flaticon-pps: "\f179";
    $font-Flaticon-ppt: "\f17a";
    $font-Flaticon-pptx: "\f17b";
    $font-Flaticon-ps: "\f17c";
    $font-Flaticon-psd: "\f17d";
    $font-Flaticon-pub: "\f17e";
    $font-Flaticon-py: "\f17f";
    $font-Flaticon-ra: "\f180";
    $font-Flaticon-rar: "\f181";
    $font-Flaticon-raw: "\f182";
    $font-Flaticon-rm: "\f183";
    $font-Flaticon-rom: "\f184";
    $font-Flaticon-rpm: "\f185";
    $font-Flaticon-rss: "\f186";
    $font-Flaticon-rtf: "\f187";
    $font-Flaticon-sav: "\f188";
    $font-Flaticon-sdf: "\f189";
    $font-Flaticon-sitx: "\f18a";
    $font-Flaticon-sj: "\f18b";
    $font-Flaticon-sql: "\f18c";
    $font-Flaticon-srt: "\f18d";
    $font-Flaticon-svg: "\f18e";
    $font-Flaticon-swf: "\f18f";
    $font-Flaticon-sys: "\f190";
    $font-Flaticon-tar: "\f191";
    $font-Flaticon-tex: "\f192";
    $font-Flaticon-tga: "\f193";
    $font-Flaticon-thm: "\f194";
    $font-Flaticon-tiff: "\f195";
    $font-Flaticon-tmp: "\f196";
    $font-Flaticon-torrent: "\f197";
    $font-Flaticon-ttf: "\f198";
    $font-Flaticon-txt: "\f199";
    $font-Flaticon-uue: "\f19a";
    $font-Flaticon-vb: "\f19b";
    $font-Flaticon-vcd: "\f19c";
    $font-Flaticon-vcf: "\f19d";
    $font-Flaticon-vob: "\f19e";
    $font-Flaticon-wav: "\f19f";
    $font-Flaticon-wmv: "\f1a0";
    $font-Flaticon-wpd: "\f1a1";
    $font-Flaticon-wps: "\f1a2";
    $font-Flaticon-wsf: "\f1a3";
    $font-Flaticon-xhtml: "\f1a4";
    $font-Flaticon-xlr: "\f1a5";
    $font-Flaticon-xls: "\f1a6";
    $font-Flaticon-xlsx: "\f1a7";
    $font-Flaticon-xml: "\f1a8";
    $font-Flaticon-yuv: "\f1a9";
    $font-Flaticon-zip: "\f1aa";