	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bucket-with-bubbles:before { content: "\f100"; }
.flaticon-clean-floor:before { content: "\f101"; }
.flaticon-clean-window-glass:before { content: "\f102"; }
.flaticon-clothes-peg:before { content: "\f103"; }
.flaticon-cooker-woman:before { content: "\f104"; }
.flaticon-dishwashing-liquid-and-clean-plate:before { content: "\f105"; }
.flaticon-dishwashing-liquid-bottle:before { content: "\f106"; }
.flaticon-duster:before { content: "\f107"; }
.flaticon-flower-top-view:before { content: "\f108"; }
.flaticon-frontal-oven:before { content: "\f109"; }
.flaticon-garden-leaf:before { content: "\f10a"; }
.flaticon-hanger-with-clothes:before { content: "\f10b"; }
.flaticon-ironing-machine:before { content: "\f10c"; }
.flaticon-kitchen-gloves:before { content: "\f10d"; }
.flaticon-rectangular-cleaning-sponge:before { content: "\f10e"; }
.flaticon-vintage-washing-machine:before { content: "\f10f"; }