@font-face {
	font-family: "flaticon32";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon32-"]:before, [class*=" flaticon32-"]:before,
[class^="flaticon32-"]:after, [class*=" flaticon32-"]:after {   
	font-family: flaticon32;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon32-bag44:before {
	content: "\e000";
}
.flaticon32-bags:before {
	content: "\e001";
}
.flaticon32-basket31:before {
	content: "\e002";
}
.flaticon32-cart10:before {
	content: "\e003";
}
.flaticon32-closed68:before {
	content: "\e004";
}
.flaticon32-coffee119:before {
	content: "\e005";
}
.flaticon32-coins4:before {
	content: "\e006";
}
.flaticon32-controller3:before {
	content: "\e007";
}
.flaticon32-delivery50:before {
	content: "\e008";
}
.flaticon32-discount4:before {
	content: "\e009";
}
.flaticon32-dress13:before {
	content: "\e00a";
}
.flaticon32-elevator12:before {
	content: "\e00b";
}
.flaticon32-gift85:before {
	content: "\e00c";
}
.flaticon32-hanger25:before {
	content: "\e00d";
}
.flaticon32-heel5:before {
	content: "\e00e";
}
.flaticon32-mall2:before {
	content: "\e00f";
}
.flaticon32-maths13:before {
	content: "\e010";
}
.flaticon32-payment3:before {
	content: "\e011";
}
.flaticon32-perfume7:before {
	content: "\e012";
}
.flaticon32-plate24:before {
	content: "\e013";
}
.flaticon32-price21:before {
	content: "\e014";
}
.flaticon32-security50:before {
	content: "\e015";
}
.flaticon32-smoke2:before {
	content: "\e016";
}
.flaticon32-tag2:before {
	content: "\e017";
}
.flaticon32-t-shirt3:before {
	content: "\e018";
}
.flaticon32-wallet34:before {
	content: "\e019";
}
.flaticon32-wallet36:before {
	content: "\e01a";
}
.flaticon32-watch2:before {
	content: "\e01b";
}
.flaticon32-wealth1:before {
	content: "\e01c";
}
.flaticon32-woman1:before {
	content: "\e01d";
}
