    /*
    Flaticon icon font: Flaticon
    Creation date: 07/04/2016 11:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-brazilian-real:before { content: "\f100"; }
.flaticon-canadian-dollar:before { content: "\f101"; }
.flaticon-colon:before { content: "\f102"; }
.flaticon-czech-koruna:before { content: "\f103"; }
.flaticon-danish-krone:before { content: "\f104"; }
.flaticon-dollar:before { content: "\f105"; }
.flaticon-dong:before { content: "\f106"; }
.flaticon-dram:before { content: "\f107"; }
.flaticon-euro:before { content: "\f108"; }
.flaticon-forint:before { content: "\f109"; }
.flaticon-hong-kong-dollar:before { content: "\f10a"; }
.flaticon-indonesian-rupiah:before { content: "\f10b"; }
.flaticon-lev:before { content: "\f10c"; }
.flaticon-malaysian-ringgit:before { content: "\f10d"; }
.flaticon-new-shekel:before { content: "\f10e"; }
.flaticon-new-taiwan-dollar:before { content: "\f10f"; }
.flaticon-philippine-peso:before { content: "\f110"; }
.flaticon-pound-sterling:before { content: "\f111"; }
.flaticon-renminbi:before { content: "\f112"; }
.flaticon-ruble:before { content: "\f113"; }
.flaticon-rupee:before { content: "\f114"; }
.flaticon-rupee-1:before { content: "\f115"; }
.flaticon-singapore-dollar:before { content: "\f116"; }
.flaticon-south-african-rand:before { content: "\f117"; }
.flaticon-south-korean-won:before { content: "\f118"; }
.flaticon-swiss-franc:before { content: "\f119"; }
.flaticon-thai-baht:before { content: "\f11a"; }
.flaticon-tugrik:before { content: "\f11b"; }
.flaticon-turkish-lira:before { content: "\f11c"; }
.flaticon-zloty:before { content: "\f11d"; }
    
    $font-Flaticon-brazilian-real: "\f100";
    $font-Flaticon-canadian-dollar: "\f101";
    $font-Flaticon-colon: "\f102";
    $font-Flaticon-czech-koruna: "\f103";
    $font-Flaticon-danish-krone: "\f104";
    $font-Flaticon-dollar: "\f105";
    $font-Flaticon-dong: "\f106";
    $font-Flaticon-dram: "\f107";
    $font-Flaticon-euro: "\f108";
    $font-Flaticon-forint: "\f109";
    $font-Flaticon-hong-kong-dollar: "\f10a";
    $font-Flaticon-indonesian-rupiah: "\f10b";
    $font-Flaticon-lev: "\f10c";
    $font-Flaticon-malaysian-ringgit: "\f10d";
    $font-Flaticon-new-shekel: "\f10e";
    $font-Flaticon-new-taiwan-dollar: "\f10f";
    $font-Flaticon-philippine-peso: "\f110";
    $font-Flaticon-pound-sterling: "\f111";
    $font-Flaticon-renminbi: "\f112";
    $font-Flaticon-ruble: "\f113";
    $font-Flaticon-rupee: "\f114";
    $font-Flaticon-rupee-1: "\f115";
    $font-Flaticon-singapore-dollar: "\f116";
    $font-Flaticon-south-african-rand: "\f117";
    $font-Flaticon-south-korean-won: "\f118";
    $font-Flaticon-swiss-franc: "\f119";
    $font-Flaticon-thai-baht: "\f11a";
    $font-Flaticon-tugrik: "\f11b";
    $font-Flaticon-turkish-lira: "\f11c";
    $font-Flaticon-zloty: "\f11d";