	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/04/2016 15:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-ahead:before { content: "\f100"; }
.flaticon-ahead-1:before { content: "\f101"; }
.flaticon-ahead-2:before { content: "\f102"; }
.flaticon-ahead-3:before { content: "\f103"; }
.flaticon-ahead-4:before { content: "\f104"; }
.flaticon-bend:before { content: "\f105"; }
.flaticon-bend-1:before { content: "\f106"; }
.flaticon-bicycle:before { content: "\f107"; }
.flaticon-bicycle-1:before { content: "\f108"; }
.flaticon-bicycle-2:before { content: "\f109"; }
.flaticon-bicycle-3:before { content: "\f10a"; }
.flaticon-biological-hazard:before { content: "\f10b"; }
.flaticon-bus:before { content: "\f10c"; }
.flaticon-bus-1:before { content: "\f10d"; }
.flaticon-car:before { content: "\f10e"; }
.flaticon-car-1:before { content: "\f10f"; }
.flaticon-child:before { content: "\f110"; }
.flaticon-crossroads:before { content: "\f111"; }
.flaticon-death:before { content: "\f112"; }
.flaticon-electricity:before { content: "\f113"; }
.flaticon-falling-rocks:before { content: "\f114"; }
.flaticon-fire:before { content: "\f115"; }
.flaticon-handicap:before { content: "\f116"; }
.flaticon-handicap-1:before { content: "\f117"; }
.flaticon-horn:before { content: "\f118"; }
.flaticon-horn-1:before { content: "\f119"; }
.flaticon-horseshoe:before { content: "\f11a"; }
.flaticon-intersection:before { content: "\f11b"; }
.flaticon-intersection-1:before { content: "\f11c"; }
.flaticon-keep-left:before { content: "\f11d"; }
.flaticon-keep-right:before { content: "\f11e"; }
.flaticon-nuclear:before { content: "\f11f"; }
.flaticon-parking:before { content: "\f120"; }
.flaticon-pedestrian:before { content: "\f121"; }
.flaticon-pedestrian-1:before { content: "\f122"; }
.flaticon-pedestrian-2:before { content: "\f123"; }
.flaticon-pedestrian-3:before { content: "\f124"; }
.flaticon-pedestrian-4:before { content: "\f125"; }
.flaticon-pedestrian-5:before { content: "\f126"; }
.flaticon-pedestrian-6:before { content: "\f127"; }
.flaticon-prohibition:before { content: "\f128"; }
.flaticon-railroad:before { content: "\f129"; }
.flaticon-roundabout:before { content: "\f12a"; }
.flaticon-roundabout-1:before { content: "\f12b"; }
.flaticon-runner:before { content: "\f12c"; }
.flaticon-runner-1:before { content: "\f12d"; }
.flaticon-settings:before { content: "\f12e"; }
.flaticon-signal:before { content: "\f12f"; }
.flaticon-skateboard:before { content: "\f130"; }
.flaticon-skateboard-1:before { content: "\f131"; }
.flaticon-ski:before { content: "\f132"; }
.flaticon-ski-1:before { content: "\f133"; }
.flaticon-slope:before { content: "\f134"; }
.flaticon-slope-1:before { content: "\f135"; }
.flaticon-snow:before { content: "\f136"; }
.flaticon-speed:before { content: "\f137"; }
.flaticon-speed-1:before { content: "\f138"; }
.flaticon-swimming:before { content: "\f139"; }
.flaticon-swimming-1:before { content: "\f13a"; }
.flaticon-traffic-light:before { content: "\f13b"; }
.flaticon-traffic-sign:before { content: "\f13c"; }
.flaticon-traffic-sign-1:before { content: "\f13d"; }
.flaticon-traffic-sign-2:before { content: "\f13e"; }
.flaticon-traffic-sign-3:before { content: "\f13f"; }
.flaticon-traffic-sign-4:before { content: "\f140"; }
.flaticon-traffic-sign-5:before { content: "\f141"; }
.flaticon-turn:before { content: "\f142"; }
.flaticon-turn-left:before { content: "\f143"; }
.flaticon-turn-left-1:before { content: "\f144"; }
.flaticon-turn-right:before { content: "\f145"; }
.flaticon-turn-right-1:before { content: "\f146"; }
.flaticon-two-way:before { content: "\f147"; }
.flaticon-warning:before { content: "\f148"; }
.flaticon-woman:before { content: "\f149"; }
.flaticon-woman-1:before { content: "\f14a"; }
.flaticon-working:before { content: "\f14b"; }
.flaticon-working-1:before { content: "\f14c"; }
.flaticon-working-2:before { content: "\f14d"; }
.flaticon-zebra-crossing:before { content: "\f14e"; }
.flaticon-zebra-crossing-1:before { content: "\f14f"; }