    /*
    Flaticon icon font: Flaticon
    Creation date: 18/03/2016 14:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-balance:before { content: "\f100"; }
.flaticon-bowl:before { content: "\f101"; }
.flaticon-clock:before { content: "\f102"; }
.flaticon-container:before { content: "\f103"; }
.flaticon-cream:before { content: "\f104"; }
.flaticon-cutting:before { content: "\f105"; }
.flaticon-cutting-1:before { content: "\f106"; }
.flaticon-dosimeter:before { content: "\f107"; }
.flaticon-egg:before { content: "\f108"; }
.flaticon-funnel:before { content: "\f109"; }
.flaticon-glass-of-water:before { content: "\f10a"; }
.flaticon-grater:before { content: "\f10b"; }
.flaticon-grill:before { content: "\f10c"; }
.flaticon-knife:before { content: "\f10d"; }
.flaticon-knife-1:before { content: "\f10e"; }
.flaticon-microwave-oven:before { content: "\f10f"; }
.flaticon-milk:before { content: "\f110"; }
.flaticon-mitten:before { content: "\f111"; }
.flaticon-mix:before { content: "\f112"; }
.flaticon-mixer:before { content: "\f113"; }
.flaticon-mixer-1:before { content: "\f114"; }
.flaticon-mustard:before { content: "\f115"; }
.flaticon-oil:before { content: "\f116"; }
.flaticon-pan:before { content: "\f117"; }
.flaticon-pan-1:before { content: "\f118"; }
.flaticon-pot:before { content: "\f119"; }
.flaticon-pour:before { content: "\f11a"; }
.flaticon-recipes:before { content: "\f11b"; }
.flaticon-rolling-pin:before { content: "\f11c"; }
.flaticon-salt:before { content: "\f11d"; }
.flaticon-salt-1:before { content: "\f11e"; }
.flaticon-soup-ladle:before { content: "\f11f"; }
.flaticon-spatula:before { content: "\f120"; }
.flaticon-spices:before { content: "\f121"; }
.flaticon-spices-1:before { content: "\f122"; }
.flaticon-spoon:before { content: "\f123"; }
.flaticon-steak:before { content: "\f124"; }
.flaticon-stove:before { content: "\f125"; }
.flaticon-strainer:before { content: "\f126"; }
.flaticon-timer:before { content: "\f127"; }
    
    $font-Flaticon-balance: "\f100";
    $font-Flaticon-bowl: "\f101";
    $font-Flaticon-clock: "\f102";
    $font-Flaticon-container: "\f103";
    $font-Flaticon-cream: "\f104";
    $font-Flaticon-cutting: "\f105";
    $font-Flaticon-cutting-1: "\f106";
    $font-Flaticon-dosimeter: "\f107";
    $font-Flaticon-egg: "\f108";
    $font-Flaticon-funnel: "\f109";
    $font-Flaticon-glass-of-water: "\f10a";
    $font-Flaticon-grater: "\f10b";
    $font-Flaticon-grill: "\f10c";
    $font-Flaticon-knife: "\f10d";
    $font-Flaticon-knife-1: "\f10e";
    $font-Flaticon-microwave-oven: "\f10f";
    $font-Flaticon-milk: "\f110";
    $font-Flaticon-mitten: "\f111";
    $font-Flaticon-mix: "\f112";
    $font-Flaticon-mixer: "\f113";
    $font-Flaticon-mixer-1: "\f114";
    $font-Flaticon-mustard: "\f115";
    $font-Flaticon-oil: "\f116";
    $font-Flaticon-pan: "\f117";
    $font-Flaticon-pan-1: "\f118";
    $font-Flaticon-pot: "\f119";
    $font-Flaticon-pour: "\f11a";
    $font-Flaticon-recipes: "\f11b";
    $font-Flaticon-rolling-pin: "\f11c";
    $font-Flaticon-salt: "\f11d";
    $font-Flaticon-salt-1: "\f11e";
    $font-Flaticon-soup-ladle: "\f11f";
    $font-Flaticon-spatula: "\f120";
    $font-Flaticon-spices: "\f121";
    $font-Flaticon-spices-1: "\f122";
    $font-Flaticon-spoon: "\f123";
    $font-Flaticon-steak: "\f124";
    $font-Flaticon-stove: "\f125";
    $font-Flaticon-strainer: "\f126";
    $font-Flaticon-timer: "\f127";