.flaticon-baton:before {
	content: "\e001";
}
.flaticon-bullet-proof-vest:before {
	content: "\e002";
}
.flaticon-bullets:before {
	content: "\e003";
}
.flaticon-cctv:before {
	content: "\e004";
}
.flaticon-cone:before {
	content: "\e005";
}
.flaticon-handcuff:before {
	content: "\e006";
}
.flaticon-house:before {
	content: "\e007";
}
.flaticon-id-card-1:before {
	content: "\e008";
}
.flaticon-id-card:before {
	content: "\e009";
}
.flaticon-jail:before {
	content: "\e00a";
}
.flaticon-locked:before {
	content: "\e00b";
}
.flaticon-padlock:before {
	content: "\e00c";
}
.flaticon-pistol:before {
	content: "\e00d";
}
.flaticon-police-1:before {
	content: "\e00e";
}
.flaticon-police-badge-1:before {
	content: "\e00f";
}
.flaticon-police-badge-2:before {
	content: "\e010";
}
.flaticon-police-badge:before {
	content: "\e011";
}
.flaticon-police-cap:before {
	content: "\e012";
}
.flaticon-police-car-1:before {
	content: "\e013";
}
.flaticon-police-car:before {
	content: "\e014";
}
.flaticon-police-station:before {
	content: "\e015";
}
.flaticon-police-vest:before {
	content: "\e016";
}
.flaticon-police:before {
	content: "\e017";
}
.flaticon-policeman-1:before {
	content: "\e018";
}
.flaticon-policeman:before {
	content: "\e019";
}
.flaticon-prisioner-1:before {
	content: "\e01a";
}
.flaticon-prisioner:before {
	content: "\e01b";
}
.flaticon-prison:before {
	content: "\e01c";
}
.flaticon-profile:before {
	content: "\e01d";
}
.flaticon-radio:before {
	content: "\e01e";
}
.flaticon-roadblock:before {
	content: "\e01f";
}
.flaticon-safe-box:before {
	content: "\e020";
}
.flaticon-search:before {
	content: "\e021";
}
.flaticon-shield:before {
	content: "\e022";
}
.flaticon-shoot:before {
	content: "\e023";
}
.flaticon-shooting:before {
	content: "\e024";
}
.flaticon-siren:before {
	content: "\e025";
}
.flaticon-target:before {
	content: "\e026";
}
.flaticon-whistle:before {
	content: "\e027";
}
