@font-face {
	font-family: "flaticon23";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon23-"]:before, [class*=" flaticon23-"]:before,
[class^="flaticon23-"]:after, [class*=" flaticon23-"]:after {   
	font-family: flaticon23;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon23-businessman233:before {
	content: "\e000";
}
.flaticon23-butler:before {
	content: "\e001";
}
.flaticon23-chef31:before {
	content: "\e002";
}
.flaticon23-employee2:before {
	content: "\e003";
}
.flaticon23-office-worker:before {
	content: "\e004";
}
.flaticon23-office-worker1:before {
	content: "\e005";
}
.flaticon23-office-worker2:before {
	content: "\e006";
}
.flaticon23-operator4:before {
	content: "\e007";
}
.flaticon23-punk5:before {
	content: "\e008";
}
.flaticon23-schoolboy1:before {
	content: "\e009";
}
.flaticon23-schoolboy2:before {
	content: "\e00a";
}
.flaticon23-servant:before {
	content: "\e00b";
}
.flaticon23-silhouette67:before {
	content: "\e00c";
}
.flaticon23-waiter2:before {
	content: "\e00d";
}
.flaticon23-woman132:before {
	content: "\e00e";
}
.flaticon23-worker18:before {
	content: "\e00f";
}
