    /*
    Flaticon icon font: Flaticon
    Creation date: 30/03/2016 08:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-champagne:before { content: "\f100"; }
.flaticon-champagne-1:before { content: "\f101"; }
.flaticon-champagne-2:before { content: "\f102"; }
.flaticon-champagne-3:before { content: "\f103"; }
.flaticon-cup:before { content: "\f104"; }
.flaticon-cup-1:before { content: "\f105"; }
.flaticon-cup-2:before { content: "\f106"; }
.flaticon-cup-3:before { content: "\f107"; }
.flaticon-cup-4:before { content: "\f108"; }
.flaticon-cup-5:before { content: "\f109"; }
.flaticon-glass:before { content: "\f10a"; }
.flaticon-glass-1:before { content: "\f10b"; }
.flaticon-glass-10:before { content: "\f10c"; }
.flaticon-glass-11:before { content: "\f10d"; }
.flaticon-glass-12:before { content: "\f10e"; }
.flaticon-glass-2:before { content: "\f10f"; }
.flaticon-glass-3:before { content: "\f110"; }
.flaticon-glass-4:before { content: "\f111"; }
.flaticon-glass-5:before { content: "\f112"; }
.flaticon-glass-6:before { content: "\f113"; }
.flaticon-glass-7:before { content: "\f114"; }
.flaticon-glass-8:before { content: "\f115"; }
.flaticon-glass-9:before { content: "\f116"; }
.flaticon-jar:before { content: "\f117"; }
.flaticon-jar-1:before { content: "\f118"; }
.flaticon-paper-cup:before { content: "\f119"; }
.flaticon-rum:before { content: "\f11a"; }
.flaticon-wine-bottle:before { content: "\f11b"; }
    
    $font-Flaticon-champagne: "\f100";
    $font-Flaticon-champagne-1: "\f101";
    $font-Flaticon-champagne-2: "\f102";
    $font-Flaticon-champagne-3: "\f103";
    $font-Flaticon-cup: "\f104";
    $font-Flaticon-cup-1: "\f105";
    $font-Flaticon-cup-2: "\f106";
    $font-Flaticon-cup-3: "\f107";
    $font-Flaticon-cup-4: "\f108";
    $font-Flaticon-cup-5: "\f109";
    $font-Flaticon-glass: "\f10a";
    $font-Flaticon-glass-1: "\f10b";
    $font-Flaticon-glass-10: "\f10c";
    $font-Flaticon-glass-11: "\f10d";
    $font-Flaticon-glass-12: "\f10e";
    $font-Flaticon-glass-2: "\f10f";
    $font-Flaticon-glass-3: "\f110";
    $font-Flaticon-glass-4: "\f111";
    $font-Flaticon-glass-5: "\f112";
    $font-Flaticon-glass-6: "\f113";
    $font-Flaticon-glass-7: "\f114";
    $font-Flaticon-glass-8: "\f115";
    $font-Flaticon-glass-9: "\f116";
    $font-Flaticon-jar: "\f117";
    $font-Flaticon-jar-1: "\f118";
    $font-Flaticon-paper-cup: "\f119";
    $font-Flaticon-rum: "\f11a";
    $font-Flaticon-wine-bottle: "\f11b";