@font-face {
	font-family: "flaticon52";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon52-"]:before, [class*=" flaticon52-"]:before,
[class^="flaticon52-"]:after, [class*=" flaticon52-"]:after {   
	font-family: flaticon52;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon52-clothing678:before {
	content: "\e000";
}
.flaticon52-clothing679:before {
	content: "\e001";
}
.flaticon52-clothing680:before {
	content: "\e002";
}
.flaticon52-clothing681:before {
	content: "\e003";
}
.flaticon52-clothing682:before {
	content: "\e004";
}
.flaticon52-clothing683:before {
	content: "\e005";
}
.flaticon52-clothing684:before {
	content: "\e006";
}
.flaticon52-clothing685:before {
	content: "\e007";
}
.flaticon52-clothing686:before {
	content: "\e008";
}
.flaticon52-clothing687:before {
	content: "\e009";
}
.flaticon52-clothing688:before {
	content: "\e00a";
}
.flaticon52-clothing689:before {
	content: "\e00b";
}
.flaticon52-clothing690:before {
	content: "\e00c";
}
.flaticon52-clothing691:before {
	content: "\e00d";
}
.flaticon52-clothing692:before {
	content: "\e00e";
}
.flaticon52-clothing693:before {
	content: "\e00f";
}
.flaticon52-clothing694:before {
	content: "\e010";
}
.flaticon52-clothing695:before {
	content: "\e011";
}
.flaticon52-clothing696:before {
	content: "\e012";
}
.flaticon52-clothing697:before {
	content: "\e013";
}
.flaticon52-clothing698:before {
	content: "\e014";
}
.flaticon52-clothing699:before {
	content: "\e015";
}
.flaticon52-clothing700:before {
	content: "\e016";
}
.flaticon52-clothing701:before {
	content: "\e017";
}
.flaticon52-clothing702:before {
	content: "\e018";
}
.flaticon52-clothing703:before {
	content: "\e019";
}
.flaticon52-clothing704:before {
	content: "\e01a";
}
.flaticon52-clothing705:before {
	content: "\e01b";
}
.flaticon52-clothing706:before {
	content: "\e01c";
}
.flaticon52-clothing707:before {
	content: "\e01d";
}
.flaticon52-clothing708:before {
	content: "\e01e";
}
.flaticon52-clothing709:before {
	content: "\e01f";
}
.flaticon52-clothing710:before {
	content: "\e020";
}
.flaticon52-clothing711:before {
	content: "\e021";
}
.flaticon52-clothing712:before {
	content: "\e022";
}
.flaticon52-clothing713:before {
	content: "\e023";
}
.flaticon52-footwear57:before {
	content: "\e024";
}
.flaticon52-shoe30:before {
	content: "\e025";
}
.flaticon52-shoe31:before {
	content: "\e026";
}
.flaticon52-shoe32:before {
	content: "\e027";
}
