	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/04/2016 09:15
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bold:before { content: "\f100"; }
.flaticon-cells:before { content: "\f101"; }
.flaticon-center-alignment:before { content: "\f102"; }
.flaticon-diskette:before { content: "\f103"; }
.flaticon-full-screen:before { content: "\f104"; }
.flaticon-hand-writing:before { content: "\f105"; }
.flaticon-italic:before { content: "\f106"; }
.flaticon-justify-align:before { content: "\f107"; }
.flaticon-left-alignment:before { content: "\f108"; }
.flaticon-link:before { content: "\f109"; }
.flaticon-new-file:before { content: "\f10a"; }
.flaticon-omega:before { content: "\f10b"; }
.flaticon-paperclip:before { content: "\f10c"; }
.flaticon-paragraph:before { content: "\f10d"; }
.flaticon-pencil:before { content: "\f10e"; }
.flaticon-right-alignment:before { content: "\f10f"; }
.flaticon-search:before { content: "\f110"; }
.flaticon-share:before { content: "\f111"; }
.flaticon-text-editor:before { content: "\f112"; }
.flaticon-underline:before { content: "\f113"; }